body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

.test {
    object-fit: cover;
}

.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.featurette-divider {
    margin: 5rem 0;
}

.recuo {
    text-indent:4em;
}

.redeIcon {
    width:40px;
    height:40px;
    float:left;
    margin-left:5px;
    transition:all 0.4s ease-out;
    border-radius:50%;
}

.redeIcon#facebook {
    background-color:#2372a3;
}

.redeIcon#twitter {
    background-color:#0084b4;
}

.redeIcon#googleplus {
    background-color:#dd4b39;
}

.redeIcon#instagram {
    background-color:#3f729b;
}

.redeIcone {
    margin:0px auto; 
    padding:8px; 
    width:100%;
}

.redeIcon:hover{
    cursor:pointer; 
    transform:translateY(-10px);
}