@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

* {
    font-family: "Times New Roman", Times;
    color: #555;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 400;
    color: #333;
}

.container {
    max-width: 60rem;
}

.featurette-divider {
    margin: 3rem 0;
}

.fundo {
    background-image: url(../img/obraFundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.col-lg-4 {
    margin-top: 5%;
}

.col-lg-4-1 {
    margin-top: 0;
}

.imgModificada {
    width: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20%;
}

.face:hover, .face:focus {
    background-color: #4862a3;   
}

.google:hover, .google:focus {
    background-color: #dc4a38;
}

.insta:hover, .insta:focus {
    background-image: linear-gradient(45deg, #f97f2c, #d62f7d, #923ac4);
}

.twitter:hover, .twitter:focus {
    background-color: #1da1f3;
}

.blog-masthead {
    margin-bottom: 1.5rem;
    background-color: #428bca;
    box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
}

.nav-link:hover, .nav-link:focus {
    color: #fff;
    background-color: transparent;
}

.nav-link.active {
    color: #fff;
}

.btn-secondary:hover {
    color:#fff;
    background-color:#007bff;
    border-color:#007bff;
}

.nav-link.active::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}

.blog-footer {
    text-align: center;
    background-color: #7b7573;
    padding: 2%;
}

.blog-footer p {
    color: #ffffff;
}

.novart {
    padding: 0.7rem 2rem 0rem 2rem;
    line-height: 2rem;
}

.btn {
    cursor: pointer;
    margin-top: 2%;
}

@media (max-width: 47.99em) {

    .menuAjuste {
        padding: 15%;
        float: right;
    }

    .novart {
        padding: 0.8rem 2rem 0rem 2rem;
    }

    .nav-link.active::after {
        border: 0;
    }

    .formulario input[type="text"] {
        clear: both;
    } 

    .formulario textarea {
        clear: both;
    }
}

/*================================================================================================================================
 FORMULARIO 
==================================================================================================================================*/

.formulario{width:100%;}
.formulario label{ width:10%; float: left; text-align:right; padding:10px 15px 0 0;}

.formulario input[type="text"] {
    padding:8px; 
    margin:0px 0 10px 0; 
    border:1px solid #bab9b9; 
    font-weight:400; 
    font-size:16px; 
    color:#333; 
    display:block; 
    outline: none;                                
    -webkit-transition: background 0.5s ease-out; 
    -moz-transition: background 0.5s ease-out; 
    transition: background 0.5s ease-out;
} 

.formulario input:focus {
    border:1px solid #bab9b9; 
    background: #f4f4f4;
}

.formulario input.g{ 
    width:90%;
}

.formulario input.m{ 
    width:45%;
}

.formulario input.p{ 
    width:22.5%;
}

.formulario textarea {
    padding:8px; 
    margin:0px 0 10px 0; 
    border:1px solid #bab9b9; 
    font-weight:400; 
    font-size:16px; 
    color:#333; 
    display:block; 
    outline: none;             
    -webkit-transition: background 0.5s ease-out; 
    -moz-transition: background 0.5s ease-out; 
    transition: background 0.5s ease-out;
    width:90%;
}
